{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.1/fullpage.css" />
		<!-- <link rel="stylesheet" type="text/css" href="./examples.css" /> -->
		<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	{% endblock %}
	</head>
{% endblock %}

<style>
#site-title{
	font-size: 5em;
	font-family: 'Passion One', arial, helvetica;
	color: #fff;
	margin:0;
	text-transform: uppercase;
}

#site-subtitle{
	font-size: 1.75em;
	font-family: 'Passion One', arial, helvetica;
	color: #fff;
	margin:0;
	text-transform: uppercase;
}


#site-intro-text {
	font-family: Roboto,Helvetica,Arial,sans-serif;
	font-weight: 900;
	font-size: 1.5rem;
	line-height: 114%;
	color: #fff;
	text-align: left;
	margin-left: 20vw; /* 15% */
	margin-right: 20vw;
}


.section{
	text-align: center;
}

#section0 {
	background-image: url({{ post.get_field('slide_1').background_photo }});
	background-repeat: no-repeat;
	background-size: cover;
}

#container-map {

}






.scroll-indicator-container {
	position: relative;
	top: 30%;
}


.scroll-indicator-container span {
	color: white;
	/* position: relative;
	top: 15px; */
}

.scroll-indicator-container #arrow-indicator-svg {
	animation-duration: 3s;
	/* position: relative;
	top: 15px; */
		margin-top: 2.5%;

}

#arrow-indicator-svg svg {
	background-color: transparent;

}


/* footer {
	color: #fff;
	background-color: #c7c7c7;
	padding: 25px 0;
	text-align: center;
}

footer a{
	color: #fff !important;
} */



svg {
	background-color: black;
}

</style>


<body>


<div id="fullpage">
	<div class="section" id="section0">
		<div class="intro">
			<h1 id="site-title">{{ post.get_field('slide_1').title }}</h1>
			<h2 id="site-subtitle">{{ post.get_field('slide_1').subtitle }}</h2>
		</div>
		<div class="scroll-indicator-container"><span>SCROLL TO BEGIN</span><div id="arrow-indicator-svg" class="SVGInline animated infinite bounce"><svg class="SVGInline-svg carrot-svg-svg" style="width: 18px;height: 7px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 13"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M35.85.51A1,1,0,0,0,34.46.15L17.91,10.53,1.54.15A1,1,0,0,0,.15.51,1.08,1.08,0,0,0,.49,2L17.91,13,35.51,2A1.08,1.08,0,0,0,35.85.51Z"></path></svg></div></div>

	</div>

	<div class="section" id="section1">
		<p id="site-intro-text">
			{{ post.get_field('slide_2').intro_text }}
			<!-- This website is an ongoing effort by undergraduates at the University of Alabama
			to recover the many lives lost to lynching in the state of Alabama.  There are
			over 350 recorded victims.
			<br><br>
			After slavery, lynchings emerged as powerful weapons in the hands of white supremacists
			to terrorize black communities across Alabama. None of these murders were expected
			to be investigated; no victim was expected to remembered.
			<br><br>
			Beginning in Spring 2018, students in Prof. John Giggie’s course on Southern Memory
			began to research the history of the lynching victims, starting with Tuscaloosa
			County.
			<br><br>
			They hope to one day complete a map documenting every lynching in the state of
			Alabama in order to restore the history of this era and the memory of these
			individuals. -->
		</p>
	</div>

    <div class="section" id="section2">
		<svg id="state" xmlns="http://www.w3.org/2000/svg" viewBox="-85 -135 7880 12435"> <!--   2711.03 1539.39   -->
		  	<defs>
  				<style>

  					#state {
						background-color: black;
	  					background-image: url({{ post.get_field('slide_3').map }});
	  					background-size: 100% 100%;
	 					background-repeat: no-repeat;
	  					max-width: 900px;
	  					/* width: 90%; */
	  					height: 85%;
						/* margin-top: 10vh; */
					}

					#state polygon {
	  					fill: transparent;
	  					cursor: pointer;
	  					transition: fill 0.2s
					}

					#state a:focus, #state a:hover {
	  					outline: none;
					}

					#state a:not(.no-data):focus polygon, #state a:not(.no-data):hover polygon {
	  					fill: #dae0e566 !important;
	  					cursor: pointer;
   					}

   					#state .st0 {
   						fill: transparent;
   					}

   					#state .no-data polygon, #state .no-data:hover polygon {
   						/* fill: rgba(193, 193, 193, 0.5) !important; */
						fill: rgba(0, 0, 0, 0.3);
							cursor: default !important;
   					}

  				</style>
		  	</defs>
		  				<!-- <title>Alabama1898c-outlines</title> -->
			{{ post.map_svg }}

		</svg>

	</div>

	<div class="section fp-auto-height" id="section3">
		{% include 'footer.twig' %}
	</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.1/vendors/easings.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.1/vendors/scrolloverflow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.1/fullpage.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

<script>
new fullpage('#fullpage', {
	licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
	autoScrolling: true,
	verticalCentered: true,
    anchors: ['anchor1', 'anchor2', 'anchor3'],
    menu: '#menu',
    sectionsColor: ['black', 'black', 'black', 'rgba(95, 95, 95, 0.35)'] // old footer color #b9bcbf33
    // sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE']
});

//

</script>

{{ function('wp_footer') }}
</body>
</html>
