{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.1/fullpage.css" />
		<!-- <link rel="stylesheet" type="text/css" href="./examples.css" /> -->
		<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	{% endblock %}
	</head>
{% endblock %}

<style>
#site-title{
	font-size: 5em;
	font-family: 'Passion One', arial, helvetica;
	color: #fff;
	margin:0;
	text-transform: uppercase;
}

#site-subtitle{
	font-size: 1.75em;
	font-family: 'Passion One', arial, helvetica;
	color: #fff;
	margin:0;
	text-transform: uppercase;
}


#site-intro-text {
	font-family: Roboto,Helvetica,Arial,sans-serif;
	font-weight: 900;
	font-size: 1.5rem;
	line-height: 114%;
	color: #fff;
	text-align: left;
	margin-left: 20vw; /* 15% */
	margin-right: 20vw;
}


.section{
	text-align: center;
}

#section0 {
	background-image: url({{ post.get_field('slide_1').background_photo }});
	background-repeat: no-repeat;
	background-size: cover;
}

#container-map {

}






.scroll-indicator-container {
	position: relative;
	top: 30%;
}


.scroll-indicator-container span {
	color: white;
	/* position: relative;
	top: 15px; */
}

.scroll-indicator-container #arrow-indicator-svg {
	animation-duration: 3s;
	/* position: relative;
	top: 15px; */
		margin-top: 2.5%;

}

#arrow-indicator-svg svg {
	background-color: transparent;

}


/* footer {
	color: #fff;
	background-color: #c7c7c7;
	padding: 25px 0;
	text-align: center;
}

footer a{
	color: #fff !important;
} */



svg {
	background-color: black;
}

</style>


<body>


<div id="fullpage">
	<div class="section" id="section0">
		<div class="intro">
			<h1 id="site-title">{{ post.get_field('slide_1').title }}</h1>
			<h2 id="site-subtitle">{{ post.get_field('slide_1').subtitle }}</h2>
		</div>
		<div class="scroll-indicator-container"><span>SCROLL TO BEGIN</span><div id="arrow-indicator-svg" class="SVGInline animated infinite bounce"><svg class="SVGInline-svg carrot-svg-svg" style="width: 18px;height: 7px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 13"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M35.85.51A1,1,0,0,0,34.46.15L17.91,10.53,1.54.15A1,1,0,0,0,.15.51,1.08,1.08,0,0,0,.49,2L17.91,13,35.51,2A1.08,1.08,0,0,0,35.85.51Z"></path></svg></div></div>

	</div>

	<div class="section" id="section1">
		<p id="site-intro-text">
			{{ post.get_field('slide_2').intro_text }}
			<!-- This website is an ongoing effort by undergraduates at the University of Alabama
			to recover the many lives lost to lynching in the state of Alabama.  There are
			over 350 recorded victims.
			<br><br>
			After slavery, lynchings emerged as powerful weapons in the hands of white supremacists
			to terrorize black communities across Alabama. None of these murders were expected
			to be investigated; no victim was expected to remembered.
			<br><br>
			Beginning in Spring 2018, students in Prof. John Giggie’s course on Southern Memory
			began to research the history of the lynching victims, starting with Tuscaloosa
			County.
			<br><br>
			They hope to one day complete a map documenting every lynching in the state of
			Alabama in order to restore the history of this era and the memory of these
			individuals. -->
		</p>
	</div>

    <div class="section" id="section2">
		<svg id="state" xmlns="http://www.w3.org/2000/svg" viewBox="-85 -135 7880 12435"> <!--   2711.03 1539.39   -->
		  				<defs>
			  				<style>

			  					#state {
									background-color: black;
				  					background-image: url({{ post.get_field('slide_3').map }});
				  					background-size: 100% 100%;
				 					background-repeat: no-repeat;
				  					max-width: 900px;
				  					/* width: 90%; */
				  					height: 85%;
    								/* margin-top: 10vh; */
								}

								#state polygon {
				  					fill: transparent;
				  					cursor: pointer;
				  					transition: fill 0.2s
								}

								#state a:focus, #state a:hover {
				  					outline: none;
								}

								#state a:not(.no-data):focus polygon, #state a:not(.no-data):hover polygon {
				  					fill: #dae0e566 !important;
				  					cursor: pointer;
			   					}

			   					#state .cls-1 {
			   						fill: transparent;
			   					}

			   					#state .no-data polygon, #state .no-data:hover polygon {
			   						/* fill: rgba(193, 193, 193, 0.5) !important; */
									fill: rgba(0, 0, 0, 0.3);
     								cursor: default !important;
			   					}

			  				</style>
		  				</defs>
		  				<!-- <title>Alabama1898c-outlines</title> -->



		  				<a id="autauga" class="county {% if post.get_field('counties').autauga.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').autauga.data == true %}{{post.get_field('counties').autauga.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="3384.34 5982.79 3853.57 5982.79 3853.57 5862.59 4488.44 5850.22 4488.44 6582.66 4413.44 6630.66 4377.44 6582.66 4350.44 6630.66 4356.44 6681.67 4338.43 6717.67 4299.43 6717.67 4287.43 6758.79 4233.42 6758.79 4206.42 6758.79 4197.42 6714.67 4159.57 6690.67 4113.41 6678.67 4077.41 6705.67 4038.4 6681.67 4044.4 6645.66 4044.4 6608.16 4008.4 6594.66 3972.4 6594.66 3936.39 6608.16 3936.39 6657.67 3936.39 6696.67 3902.57 6723.67 3879.39 6758.79 3853.57 6726.67 3819.38 6696.67 3831.38 6666.67 3837.38 6633.66 3798.38 6608.16 3756.38 6633.66 3723.37 6642.66 3687.37 6645.66 3669.37 6672.67 3672.37 6723.67 3690.37 6774.68 3627.36 6861.69 3600.36 6813.68 3606.36 6774.68 3615.36 6738.67 3621.36 6702.67 3585.36 6678.91 3547.57 6621.66 3564.36 6579.66 3585.36 6552.65 3547.57 6542.79 3505.57 6525.65 3479.57 6444.79 3443.32 6355.95 3435.34 6261.63 3429.34 6213.62 3425.07 6158.24 3411.57 6076.79 3384.34 5982.79" />
						</a>
		  				<a id="baldwin" class="county {% if post.get_field('counties').baldwin.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').baldwin.data == true %}{{post.get_field('counties').baldwin.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="1524.15 11992.2 1524.15 12058.21 1524.15 12100.21 1461.15 12124.21 1377.14 12142.21 1335.13 12142.21 1266.13 12142.21 1224.12 12115.21 1170.12 12085.21 1122.11 12097.21 1122.11 12127.21 1080.11 12142.21 978.1 12163.22 936.09 12163.22 936.09 12199.22 990.1 12199.22 1062.11 12199.22 1143.11 12199.22 1230.12 12214.22 1269.13 12214.22 1383.14 12199.22 1464.15 12193.22 1524.15 12193.22 1635.16 12169.22 1731.17 12163.22 1806.18 12139.21 1845.18 12127.21 1929.19 12118.21 1986.2 12103.21 2019.2 12079.21 2070.21 12064.21 2109.21 12055.21 2160.22 12034.2 2202.22 12010.2 2235.22 11992.2 2210.24 11972.08 2142.74 11984.08 2108.24 11999.08 2070.75 12009.58 2042.25 12020.08 2010.75 12021.58 1982.25 12014.08 1964.25 12003.58 1931.25 12006.58 2028.75 11990.08 2039.25 11964.58 2063.25 11928.59 2091.74 11928.59 2129.24 11892.59 2162.24 11856.59 2226.74 11834.09 2246.24 11807.09 2252.24 11754.6 2273.24 11723.1 2294.24 11696.1 2340.73 11675.1 2357.23 11667.6 2357.23 11636.1 2370.73 11636.1 2379.73 11604.6 2351.23 11604.6 2325.73 11586.6 2295.73 11550.61 2277.74 11550.61 2282.24 11501.11 2294.24 11487.61 2264.24 11424.61 2273.24 11390.11 2310.73 11327.12 2325.73 11258.12 2351.23 11223.62 2366.23 11172.63 2379.73 11132.13 2363.23 11103.63 2355.73 11063.13 2324.23 11042.13 2297.23 11009.13 2274.74 11000.13 2240.24 10956.64 2208.74 10946.14 2184.74 10929.64 2156.24 10913.14 2118.74 10884.64 2102.24 10865.14 2073.75 10848.64 2060.25 10782.64 2046.75 10748.15 2028.75 10733.15 2004.75 10689.65 1956.75 10673.15 1902.75 10635.65 1872.76 10598.15 1856.26 10530.66 1868.26 10490.16 1893.76 10451.16 1898.25 10413.66 1899.75 10382.17 1914.75 10347.67 1919.25 10311.67 1916.25 10220.17 1904.25 10194.67 1901.25 9582.7 1829.26 9572.2 1785.76 9572.2 1757.26 9572.2 1737.76 9528.71 1709.26 9512.21 1679.27 9483.71 1647.77 9456.71 1607.27 9467.21 1569.77 9456.71 1538.27 9456.71 1509.77 9456.71 1484.28 9428.21 1458.78 9413.21 1452.78 9441.71 1466.28 9461.21 1485.78 9479.21 1500.77 9494.21 1505.27 9513.71 1493.28 9531.71 1467.78 9528.71 1446.78 9509.21 1425.78 9488.21 1413.78 9503.21 1418.28 9528.71 1415.28 9546.71 1388.28 9524.21 1392.78 9558.71 1394.28 9590.2 1397.28 9624.7 1355.28 9600.7 1346.28 9623.2 1368.78 9650.2 1386.78 9671.2 1400.28 9692.2 1379.28 9720.7 1361.28 9680.2 1337.28 9665.2 1319.28 9689.2 1310.28 9714.7 1334.28 9741.7 1359.78 9759.7 1344.78 9779.19 1305.78 9758.2 1293.79 9773.19 1314.78 9792.69 1332.78 9801.69 1343.28 9822.69 1319.28 9831.69 1293.79 9815.19 1280.29 9792.69 1266.79 9776.19 1265.29 9824.19 1226.29 9809.19 1196.29 9791.19 1178.29 9806.19 1185.79 9831.69 1157.29 9851.19 1148.29 9872.19 1124.29 9902.19 1121.29 9938.19 1089.8 9972.68 1103.29 10020.68 1125.79 10037.18 1152.79 10043.18 1157.29 10073.18 1146.79 10097.18 1128.79 10110.68 1134.79 10143.68 1134.79 10176.67 1112.29 10182.67 1113.79 10265.17 1119.79 10295.17 1139.29 10298.17 1160.29 10296.67 1170.79 10317.67 1184.29 10337.17 1199.29 10359.67 1212.79 10377.67 1221.79 10400.16 1236.79 10425.66 1253.29 10455.66 1260.79 10472.16 1217.29 10494.66 1161.79 10545.66 1125.79 10560.66 1113.79 10575.66 1133.29 10605.65 1148.29 10625.15 1160.29 10643.15 1166.29 10661.15 1140.79 10674.65 1100.29 10685.15 1067.3 10698.65 1064.3 10725.65 1083.8 10745.15 1089.8 10769.15 1065.8 10802.14 1035.8 10813.72 1002.8 10854.64 1002.8 10956.64 1028.3 10934.14 1046.3 10916.14 1064.3 10904.14 1059.8 10935.64 1038.8 10967.14 1010.3 11001.63 1007.3 11036.13 1028.3 11048.13 1041.8 11036.13 1055.3 11018.13 1070.3 10998.63 1075.93 10991.98 1086.8 10979.14 1089.8 11013.63 1106.29 11018.13 1119.79 11006.13 1119.79 11037.63 1116.79 11061.63 1131.79 11064.63 1146.79 11057.13 1163.29 11052.63 1179.79 11049.63 1178.29 11076.63 1193.29 11082.63 1209.79 11097.63 1218.79 11129.13 1220.29 11148.63 1220.29 11175.63 1221.79 11220.62 1214.29 11268.62 1238.29 11321.12 1235.29 11390.11 1229.29 11432.11 1206.79 11462.11 1179.79 11496.61 1167.79 11511.61 1161.79 11534.11 1200.79 11571.6 1218.79 11595.6 1227.79 11622.6 1224.79 11661.6 1223.29 11697.6 1247.29 11730.6 1277.29 11738.1 1301.28 11744.1 1335.78 11778.59 1371.78 11825.09 1388.28 11867.09 1395.78 11889.59 1425.78 11904.59 1451.28 11921.09 1472.28 11940.59 1499.27 11963.08 1524.15 11992.2" />
						</a>
						<a id="barbour" class="county {% if post.get_field('counties').barbour.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').barbour.data == true %}{{post.get_field('counties').barbour.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="6569.57 7590.79 6569.57 7266.79 6917.57 7266.79 7005.57 7362.79 7049.57 7398.79 7073.57 7480.79 7377.57 7480.79 7409.57 7570.79 7365.57 7642.79 7333.57 7742.79 7325.57 7810.79 7233.57 7930.79 7221.57 8014.79 7233.57 8110.79 7261.57 8288.33 7209.57 8288.33 7153.57 8288.33 7145.57 8370.79 7073.57 8370.79 7065.57 8410.79 6621.57 8382.79 6629.57 8616.86 5921.57 8616.86 5957.57 8534.79 5981.57 8466.79 5973.57 8410.79 6005.57 8338.79 6061.57 8250.79 6097.57 8214.79 6089.57 8082.79 6065.57 8010.79 6093.57 7941.82 6133.57 7862.79 6165.57 7786.79 6193.57 7738.79 6201.57 7670.79 6253.57 7630.79 6301.57 7598.79 6569.57 7590.79" />
						</a>
						<a id="bibb" class="county {% if post.get_field('counties').bibb.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').bibb.data == true %}{{post.get_field('counties').bibb.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="2549.57 4900.79 2549.57 5120.79 2317.57 5120.79 2317.57 5448.79 2537.57 5448.79 2549.57 5560.79 3467.57 5524.79 3479.57 5062.79 3173.57 4710.79 3185.57 4640.79 3213.57 4640.79 3221.57 4598.79 3241.57 4572.79 3227.57 4512.79 3091.57 4512.79 3057.57 4486.79 3009.57 4572.79 2933.57 4544.79 2807.57 4646.79 2811.57 4746.79 2785.57 4790.79 2779.57 4808.79 2633.57 4802.79 2549.57 4900.79" />
						</a>
						<a id="blount" class="county {% if post.get_field('counties').blount.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').blount.data == true %}{{post.get_field('counties').blount.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="3474.35 2499.25 3666.37 2499.25 3666.37 2433.24 3853.57 2433.24 3900.39 2451.24 3882.39 2394.24 3888.39 2343.23 3930.39 2367.24 3993.4 2307.23 4017.4 2271.23 4047.41 2294.79 4089.41 2271.23 4101.41 2220.79 4149.41 2169.22 4182.42 2112.21 4182.42 2049.2 4242.42 2004.2 4257.43 1950.19 4308.43 1908.19 4389.44 1908.19 4650.47 2268.23 4689.47 2294.79 4713.47 2331.23 4638.46 2376.24 4665.47 2451.24 4584.46 2736.27 4629.46 2829.28 4620.46 2889.29 4563.46 2940.29 4506.45 2985.3 4440.44 3027.3 4374.44 3057.31 4302.43 3057.31 4254.43 3087.31 4215.42 3087.31 4140.41 3087.31 4093.91 3087.31 4093.91 3162.32 4002.4 3162.32 3759.38 2988.3 3486.35 2982.3 3210.32 3162.32 3210.32 2622.79 3447.34 2622.79 3477.35 2622.79 3474.35 2499.25" />
						</a>
						<a id="bullock" class="county {% if post.get_field('counties').bullock.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').bullock.data == true %}{{post.get_field('counties').bullock.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="5664.57 7050.7 5625.56 6951.69 5541.55 6951.69 5349.53 6939.69 5349.53 7488.75 5571.56 7488.75 5577.56 7716.77 5793.58 7716.77 5793.58 7926.79 6012.6 7926.79 6012.6 7716.77 6177.62 7716.77 6201.62 7662.77 6236.12 7632.76 6273.63 7608.76 6303.63 7590.76 6345.64 7593.76 6573.66 7590.76 6573.66 7047.7 5664.57 7050.7" />
						</a>
						<a id="butler" class="county {% if post.get_field('counties').butler.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').butler.data == true %}{{post.get_field('counties').butler.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="3399.34 7752.77 3972.4 7734.77 4278.43 7716.77 4380.44 7716.77 4401.44 8508.85 4293.43 8508.85 4296.43 8832.88 3411.34 8859.89 3399.34 7752.77" />
						</a>
						<a id="calhoun" class="county {% if post.get_field('counties').calhoun.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').calhoun.data == true %}{{post.get_field('counties').calhoun.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="6113.57 2876.79 6345.57 2876.79 6345.57 2666.79 6113.57 2666.79 6113.57 2640.79 5899.57 2640.79 5899.57 2716.79 5679.57 2684.79 5679.57 2724.79 5613.57 2738.79 5571.57 2772.79 5535.57 2876.79 5501.57 2814.79 5457.57 2846.79 5401.57 2914.79 5367.57 2950.79 5311.57 2986.79 5235.57 2986.79 5209.57 3012.79 5231.57 3026.79 5247.57 3054.79 5221.57 3094.79 5225.57 3136.79 5263.57 3208.79 5209.57 3224.79 5179.57 3268.79 5099.57 3306.79 5099.57 3354.79 5063.57 3318.79 5051.57 3354.79 5051.57 3430.79 5221.57 3418.79 5287.57 3494.79 5295.57 3592.79 5333.57 3592.79 5337.57 3636.79 5897.57 3648.79 6105.57 3544.79 6101.57 3202.79 6217.57 3202.79 6221.57 2986.79 6111.57 2986.79 6113.57 2876.79" />
						</a>
						<a id="chambers" class="county {% if post.get_field('counties').chambers.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').chambers.data == true %}{{post.get_field('counties').chambers.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="6201.62 4854.48 6990.7 4836.48 7104.71 5385.54 7077.71 5460.55 7104.71 5481.55 7143.71 5481.55 7143.71 5520.55 7128.71 5586.56 7143.71 5634.56 7191.72 5661.57 7191.72 5703.57 6879.69 5703.57 6879.69 5748.57 6219.62 5748.57 6201.62 4854.48" />
						</a>
						<a id="cherokee" class="county {% if post.get_field('counties').cherokee.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').cherokee.data == true %}{{post.get_field('counties').cherokee.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="6372.64 1254.13 6606.66 2643.26 6345.64 2643.26 6345.64 2670.27 6114.61 2670.27 6114.61 2643.26 5901.59 2631.26 5901.59 2550.26 5796.58 2373.24 5769.58 2325.23 5790.58 2265.23 5685.57 2316.23 5685.57 2145.22 5574.56 2139.21 5574.56 2085.21 5670.57 2085.21 5700.57 2085.21 5964.6 1779.18 6075.61 1647.16 6159.62 1551.15 6217.57 1503.15 6252.63 1440.14 6261.63 1377.14 6300.63 1317.13 6372.64 1254.13" />
						</a>
						<a id="chilton" class="county {% if post.get_field('counties').chilton.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').chilton.data == true %}{{post.get_field('counties').chilton.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="3486.35 4941.49 3486.35 5523.55 3180.32 5523.55 3180.32 5973.6 3853.57 5973.6 3853.57 5862.59 4623.46 5847.59 4566.46 5727.57 4533.45 5686.79 4512.45 5637.56 4413.44 5562.56 4383.44 5539.79 4383.44 5514.55 4419.44 5490.55 4416.44 5457.55 4374.44 5430.54 4308.43 5325.53 4283.57 5292.53 4260.43 5247.52 4283.57 5184.52 4302.43 5146.79 4257.43 5076.51 4266.43 4980.5 4283.57 4941.49 4242.42 4920.49 3486.35 4941.49" />
						</a>
						<a id="choctaw" class="county {% if post.get_field('counties').choctaw.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').choctaw.data == true %}{{post.get_field('counties').choctaw.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="132.01 6843.68 1128.39 6860.15 1221.12 6861.69 1221.12 6909.69 1176.12 6894.69 1125.11 6888.69 1065.11 6894.69 1002.1 6909.69 1011.1 6969.7 1041.1 6990.7 1017.1 7035.7 1029.1 7086.71 1020.1 7143.71 1026.1 7197.72 1008.1 7269.73 969.1 7281.73 933.09 7392.74 957.1 7437.74 897.09 7485.75 852.09 7470.75 804.08 7503.75 804.08 7566.76 804.08 7635.76 840.08 7671.77 855.09 7620.76 882.09 7671.77 915.09 7698.77 906.09 7737.77 912.09 7770.78 858.09 7740.77 801.08 7797.78 840.08 7812.78 891.09 7830.78 924.09 7809.78 936.09 7866.79 888.09 7866.79 774.08 7917.79 747.08 7995.8 663.07 8109.81 676.57 8178.82 726.07 8268.83 765.08 8292.83 789.08 8262.83 825.08 8271.83 843.08 8310.83 852.09 8364.84 855.09 8424.84 24 8424.84 0 7956.8 132.01 6843.68" />
						</a>
						<a id="clarke" class="county {% if post.get_field('counties').clarke.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').clarke.data == true %}{{post.get_field('counties').clarke.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="915.09 7806.78 945.1 7860.79 930.09 7887.79 888.09 7847.28 864.09 7887.79 816.08 7887.79 816.08 7914.79 774.08 7914.79 756.08 7974.8 732.07 8013.8 711.07 8064.81 672.07 8082.81 672.07 8127.81 672.07 8166.82 702.07 8232.82 738.07 8280.83 771.08 8280.83 808.58 8259.83 834.08 8280.83 843.08 8340.83 855.09 8427.84 867.09 8499.85 876.09 8547.85 849.09 8547.85 864.09 8592.86 873.09 8667.87 888.09 8697.87 945.1 8697.87 996.1 8727.87 1023.1 8766.88 960.1 8745.88 1002.1 8808.88 1062.11 8841.88 1107.11 8859.89 1146.12 8859.89 1191.12 8883.89 1209.12 8922.89 1245.13 8955.9 1245.13 8994.9 1245.13 9054.91 1206.12 9084.91 1245.13 9114.91 1191.12 9171.92 1245.13 9183.92 1200.12 9210.92 1170.12 9243.92 1209.12 9243.92 1245.13 9243.92 1275.13 9189.92 1308.13 9219.92 1290.13 9324.93 1266.13 9393.94 1230.12 9393.94 1239.12 9324.93 1209.12 9348.93 1191.12 9393.94 1131.11 9408.94 1149.12 9453.94 1146.12 9516.95 1083.11 9516.95 1071.11 9555.96 1113.11 9579.96 1164.12 9594.96 1176.12 9672.97 1164.12 9765.98 1152.12 9804.98 1080.11 9804.98 1128.11 9831.98 1161.12 9831.98 1185.12 9801.98 1245.13 9831.98 1263.13 9783.98 1308.13 9831.98 1338.13 9816.98 1305.13 9774.98 1338.13 9771.98 1338.13 9741.97 1302.13 9717.97 1320.13 9687.97 1356.14 9672.97 1377.14 9717.97 1395.14 9678.97 1356.14 9633.96 1353.13 9594.96 1395.14 9618.96 1395.14 9573.96 1380.14 9531.95 1413.14 9528.95 1431.14 9486.95 1467.15 9531.95 1497.15 9519.95 1482.15 9462.95 1446.14 9438.94 1458.15 9408.94 1497.15 9435.94 1542.15 9444.94 1506.15 9390.94 1524.15 9360.94 1542.15 9321.93 1542.15 9276.93 1575.16 9276.93 1575.16 9318.93 1575.16 9357.94 1617.16 9342.93 1635.16 9297.93 1635.16 9246.92 1665.17 9201.92 1701.17 9174.92 1743.17 9153.92 1782.18 9123.91 1827.18 9144.91 1866.19 9165.92 1923.19 9156.92 1947.19 9108.91 1971.2 9069.91 1989.2 9018.9 1989.2 8985.9 1947.19 8970.9 1905.19 8937.89 1863.19 8916.89 1866.19 8871.89 1908.19 8844.88 1944.19 8819.38 1989.2 8819.38 1974.2 8091.81 1863.19 8097.81 1824.18 8064.81 1803.18 8022.8 1767.18 8001.8 1761.18 7650.77 1467.15 7683.77 903.09 7677.77 903.09 7719.77 927.09 7752.77 891.09 7767.78 855.09 7734.77 828.08 7770.78 804.08 7803.78 849.09 7818.78 915.09 7806.78" />
						</a>
						<a id="clay" class="county {% if post.get_field('counties').clay.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').clay.data == true %}{{post.get_field('counties').clay.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="5773.57 3940.79 5643.57 3940.79 5643.57 3872.79 5561.57 3872.79 5561.57 3974.79 5501.57 3974.79 5501.57 4112.79 5463.57 4112.79 5463.57 4146.79 5399.57 4146.79 5399.57 4382.79 5103.57 4382.79 5103.57 4626.79 4999.57 4626.79 4999.57 4846.79 6085.57 4856.79 6095.57 3872.79 5835.57 3872.79 5835.57 3906.79 5777.57 3902.79 5773.57 3940.79" />
						</a>
						<a id="cleburne" class="county {% if post.get_field('counties').cleburne.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').cleburne.data == true %}{{post.get_field('counties').cleburne.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="6345.57 2868.79 6117.57 2868.79 6117.57 2986.79 6223.57 2986.79 6231.57 3206.79 6117.57 3206.79 6117.57 3538.79 5895.57 3650.79 5773.57 3650.79 5773.57 3858.79 5833.57 3858.79 6829.57 3870.79 6611.57 2636.79 6349.57 2636.79 6345.57 2868.79" />
						</a>
						<a id="coffee" class="county {% if post.get_field('counties').coffee.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').coffee.data == true %}{{post.get_field('counties').coffee.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="5049.51 8616.86 5820.58 8616.86 5844.58 9684.97 4968.5 9684.97 4950.49 8844.88 5061.51 8841.88 5049.51 8616.86" />
						</a>
						<a id="colbert" class="county {% if post.get_field('counties').colbert.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').colbert.data == true %}{{post.get_field('counties').colbert.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="924.09 327.03 1032.1 327.03 1131.11 357.04 1209.12 396.04 1251.13 486.05 1279.57 573.06 1362.14 633.06 1443.14 696.07 1554.15 750.08 1632.16 750.08 1701.17 708.79 1785.18 654.07 1932.19 606.06 2016.2 552.05 2052.2 552.05 2085.21 538.55 2172.22 538.55 2295.23 579.06 2322.23 630.06 2337.23 675.07 2316.23 708.79 2304.23 750.08 2313.23 807.08 2280.23 843.08 2283.23 954.1 2217.22 954.1 2214.22 1023.1 2163.22 1080.11 2139.21 1152.12 828.08 1125.11 924.09 327.03" />
						</a>
						<a id="conecuh" class="county {% if post.get_field('counties').conecuh.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').conecuh.data == true %}{{post.get_field('counties').conecuh.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="3255.33 8397.84 3276.33 8343.83 3399.34 8343.83 3399.34 8856.89 3853.57 8856.89 3853.57 9075.91 3909.39 9075.91 3933.39 9150.92 3933.39 9204.92 3921.39 9264.93 3897.39 9312.93 3853.57 9312.93 3853.57 9531.95 2715.27 9531.95 2478.25 9531.95 2421.24 9432.94 2460.25 9339.93 2484.25 9267.93 2553.26 9219.92 2604.26 9186.92 2649.26 9156.92 2691.27 9105.91 2739.27 9048.91 2754.28 9012.9 2793.28 8976.9 2838.28 8847.89 2874.29 8763.88 2901.29 8697.87 2919.29 8631.86 2955.3 8580.86 3015.3 8535.85 3045.3 8481.85 3081.31 8406.84 3255.33 8397.84" />
						</a>
						<a id="coosa" class="county {% if post.get_field('counties').coosa.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').coosa.data == true %}{{post.get_field('counties').coosa.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="4311.43 4851.48 5337.53 4851.48 5337.53 5730.57 4575.46 5730.57 4515.45 5643.56 4410.44 5560.79 4380.44 5511.55 4422.44 5496.55 4422.44 5454.79 4377.44 5436.54 4311.43 5328.53 4283.57 5291.03 4263.43 5187.52 4305.43 5160.52 4263.43 5100.51 4263.43 4983.5 4283.57 4938.49 4308.43 4938.49 4283.57 4890.49 4311.43 4851.48" />
						</a>
						<a id="covington" class="county {% if post.get_field('counties').covington.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').covington.data == true %}{{post.get_field('counties').covington.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="4509.57 9034.79 4509.57 8850.79 4297.57 8850.79 3853.57 8850.79 3853.57 9070.79 3909.57 9070.79 3933.57 9143.41 3929.57 9194.79 3913.57 9262.79 3873.57 9310.79 3853.57 9534.79 3853.57 10214.79 4961.57 10214.79 4961.57 9070.79 4729.57 9066.79 4713.57 8874.79 4509.57 9034.79" />
						</a>
						<a id="crenshaw" class="county {% if post.get_field('counties').crenshaw.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').crenshaw.data == true %}{{post.get_field('counties').crenshaw.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="4716.47 8871.89 4509.45 9054.91 4509.45 8850.89 4299.43 8835.88 4299.43 8514.85 4392.44 8514.85 4386.44 7722.77 4491.45 7722.77 4491.45 7500.75 4716.47 7500.75 4716.47 7707.77 4923.49 7713.77 4938.49 8181.82 5043.5 8184.82 5043.5 8514.85 4980.5 8616.86 5043.5 8613.86 5058.51 8838.88 4941.49 8841.88 4947.49 9054.91 4734.47 9054.91 4716.47 8871.89" />
						</a>
						<a id="cullman" class="county {% if post.get_field('counties').cullman.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').cullman.data == true %}{{post.get_field('counties').cullman.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="2993.57 1806.79 2993.57 2614.79 3481.57 2614.79 3481.57 2502.79 3665.57 2502.79 3665.57 2430.79 3853.57 2430.79 3909.57 2450.79 3881.57 2342.79 3937.57 2366.79 3973.57 2314.79 4049.57 2274.79 4093.57 2242.79 4149.57 2170.79 4189.57 2106.79 4189.57 2042.79 4237.57 2010.79 4269.57 1946.79 4317.57 1906.79 4397.57 1906.79 4417.57 1838.79 4357.57 1846.79 4345.57 1806.79 2993.57 1806.79" />
						</a>
						<a id="dale" class="county {% if post.get_field('counties').dale.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').dale.data == true %}{{post.get_field('counties').dale.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="5820.58 8622.86 6474.65 8604.86 6627.66 8604.86 6651.66 9681.97 5844.58 9681.97 5820.58 8622.86" />
						</a>
						<a id="dallas" class="county {% if post.get_field('counties').dallas.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').dallas.data == true %}{{post.get_field('counties').dallas.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="3501.57 6939.69 3547.57 7014.79 3609.57 7044.7 3645.57 7078.79 3405.57 7078.79 3405.57 7514.79 2825.57 7534.79 2825.57 7494.75 2785.57 7433.24 2717.57 7398.79 2669.57 7350.79 2669.57 7302.79 2597.57 7282.79 2541.57 7194.79 2501.57 7134.79 2417.57 7126.79 2393.57 7074.79 2301.57 7044.7 2245.57 6990.79 2205.57 6939.69 2205.57 6861.69 2317.57 6861.69 2317.57 6422.79 2925.57 6422.79 3001.57 6394.79 3021.57 6324.79 3061.57 6278.79 3061.57 6210.79 3121.57 6171.62 3133.57 6106.79 3125.57 6046.79 3165.57 5982.79 3369.57 5982.79 3401.57 6046.79 3421.57 6106.79 3433.57 6282.79 3449.57 6402.79 3479.57 6534.79 3547.57 6542.79 3547.57 6608.16 3589.57 6686.79 3617.57 6730.79 3593.57 6794.79 3601.57 6861.69 3501.57 6939.69" />
						</a>
						<a id="dekalb" class="county {% if post.get_field('counties').dekalb.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').dekalb.data == true %}{{post.get_field('counties').dekalb.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="5569.57 2080.79 5569.57 2140.79 5067.57 2140.79 5059.57 2110.79 5051.57 2080.79 5051.57 2038.79 5103.57 2006.79 5169.57 1792.79 5161.57 1762.79 5125.57 1680.79 5135.57 1508.79 5195.57 1416.79 5205.57 1396.79 5247.57 1384.79 5310.57 1384.79 5347.57 1374.79 5407.57 1352.79 5491.57 1322.79 5547.57 1274.79 5625.57 1194.79 5691.57 1134.79 5781.57 1046.79 5855.57 944.79 5909.57 852.79 5973.57 764.79 6023.57 684.79 6069.57 604.79 6117.57 522.79 6163.57 464.79 6221.57 368.79 6381.57 1240.79 6349.57 1254.79 6327.57 1278.79 6299.57 1304.79 6271.57 1334.79 6263.57 1364.79 6247.57 1402.79 6237.57 1442.79 6225.57 1472.79 6203.57 1516.79 6183.57 1556.79 6163.57 1588.79 6141.57 1604.79 6135.57 1642.79 6099.57 1660.79 6071.57 1674.79 6047.57 1684.79 6015.57 1726.79 5971.57 1766.79 5939.57 1800.79 5895.57 1842.79 5857.57 1892.79 5803.57 1938.79 5757.57 1996.79 5716.57 2042.79 5689.57 2074.79 5569.57 2080.79" />
						</a>
						<a id="elmore" class="county {% if post.get_field('counties').elmore.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').elmore.data == true %}{{post.get_field('counties').elmore.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="4623.46 5838.58 4572.46 5730.57 5604.56 5730.57 5592.56 5784.58 5589.56 5838.58 5544.55 5868.59 5544.55 5925.59 5604.56 5973.6 5592.56 6082.79 5583.56 6147.61 5604.56 6231.62 5604.56 6288.63 5577.56 6327.63 5571.56 6372.64 5661.57 6420.64 5631.56 6438.64 5628.56 6478.79 5598.56 6504.65 5538.55 6504.65 5484.55 6478.79 5469.55 6519.65 5412.54 6478.79 5379.54 6478.79 5346.53 6501.65 5358.54 6537.65 5313.53 6558.66 5268.53 6576.66 5205.52 6576.66 5145.52 6576.66 5094.51 6543.65 5043.5 6525.65 4977.5 6507.65 5001.5 6478.79 4944.49 6465.65 4917.49 6441.64 4878.49 6420.64 4860.49 6384.64 4824.48 6357.64 4791.48 6351.64 4773.48 6390.64 4740.47 6411.64 4674.47 6378.64 4698.47 6456.65 4665.47 6478.79 4650.47 6504.65 4689.47 6576.66 4617.46 6519.65 4629.46 6594.66 4677.47 6630.66 4671.47 6657.67 4587.46 6606.66 4557.46 6540.65 4512.45 6540.65 4482.45 6528.65 4482.45 5850.59 4623.46 5838.58" />
						</a>
						<a id="escambia" class="county {% if post.get_field('counties').escambia.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').escambia.data == true %}{{post.get_field('counties').escambia.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="2154.22 9537.95 2898.29 9537.95 3853.57 9522.95 3853.57 10216.02 1905.19 10216.02 1905.19 9591.96 1944.19 9579.96 1995.2 9594.96 2034.2 9597.96 2061.21 9585.96 2094.21 9576.96 2130.21 9564.96 2154.22 9537.95" />
						</a>
						<a id="etowah" class="county {% if post.get_field('counties').etowah.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').etowah.data == true %}{{post.get_field('counties').etowah.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="5005.57 2134.79 5679.57 2134.79 5679.57 2304.79 5761.57 2262.79 5781.57 2256.79 5781.57 2304.79 5771.57 2338.79 5895.57 2548.79 5895.57 2710.79 5677.57 2684.79 5667.57 2722.79 5615.57 2722.79 5569.57 2748.79 5551.57 2796.79 5541.57 2858.79 5523.57 2858.79 5503.57 2818.79 5467.57 2834.79 5415.57 2868.79 5375.57 2914.79 5325.57 2952.79 5267.57 2962.79 5229.57 2962.79 5195.57 2938.79 5151.57 2940.79 5117.57 2946.79 5121.57 2876.79 5107.57 2844.79 5081.57 2860.79 5059.57 2828.79 5043.57 2800.79 5015.57 2756.79 5005.57 2722.79 5019.57 2700.79 4995.57 2678.79 4979.57 2648.79 4943.57 2616.79 4907.57 2612.79 4875.57 2628.79 4837.57 2658.79 4793.57 2634.79 4735.57 2626.79 4689.57 2628.79 4665.57 2636.79 4687.57 2712.79 4687.57 2730.79 4639.57 2832.79 4615.57 2782.79 4591.57 2736.79 4603.57 2678.79 4661.57 2460.79 4637.57 2372.79 4711.57 2336.79 4897.57 2154.79 4919.57 2164.79 5005.57 2134.79" />
						</a>
						<a id="fayette" class="county {% if post.get_field('counties').fayette.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').fayette.data == true %}{{post.get_field('counties').fayette.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="1225.57 2806.79 1869.57 2826.79 1869.57 2938.79 2129.57 2938.79 2129.57 3378.79 2317.57 3378.79 2317.57 3598.79 1869.57 3598.79 1873.57 3666.79 1805.57 3666.79 1801.57 3806.79 1225.57 3806.79 1225.57 2806.79" />
						</a>
						<a id="franklin" class="county {% if post.get_field('counties').franklin.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').franklin.data == true %}{{post.get_field('counties').franklin.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="822.08 1119.11 747.08 1779.18 1881.57 1824.18 2121.21 1824.18 2121.21 1158.12 822.08 1119.11" />
						</a>
						<a id="geneva" class="county {% if post.get_field('counties').geneva.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').geneva.data == true %}{{post.get_field('counties').geneva.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="4956.5 9693.97 4968.5 10216.02 6720.67 10198.02 6720.67 9681.97 4956.5 9693.97" />
						</a>
						<a id="greene" class="county {% if post.get_field('counties').greene.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').greene.data == true %}{{post.get_field('counties').greene.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="1429.57 4754.79 1429.57 4910.79 1447.57 4910.79 1447.57 5096.79 1675.57 5096.79 1707.57 5138.79 1707.57 5166.79 1661.57 5166.79 1665.57 5208.79 1621.57 5170.79 1607.57 5192.79 1631.57 5208.79 1609.57 5236.79 1653.57 5236.79 1631.57 5288.79 1579.57 5326.79 1601.57 5346.79 1589.57 5374.79 1525.57 5390.79 1491.57 5412.79 1463.57 5452.79 1459.57 5492.79 1453.57 5530.79 1479.57 5582.79 1483.57 5620.79 1453.57 5658.79 1365.57 5714.79 1387.57 5740.79 1413.57 5728.79 1433.57 5708.79 1463.57 5718.79 1485.57 5740.79 1485.57 5784.79 1427.57 5816.79 1435.57 5844.79 1473.57 5844.79 1505.57 5814.79 1521.57 5834.79 1505.57 5894.79 1519.57 5950.79 1513.57 5982.79 1557.57 5994.79 1611.57 5976.79 1627.57 5994.79 1601.57 6036.79 1553.57 6024.79 1483.57 6036.79 1505.57 6106.79 1601.57 6082.29 1639.57 6130.79 1607.57 6160.79 1583.57 6206.79 1563.57 6174.79 1547.57 6150.79 1536.57 6184.79 1536.57 6214.79 1505.57 6214.79 1503.57 6252.79 1511.57 6270.79 1485.57 6324.79 1459.57 6290.79 1455.57 6256.79 1423.57 6244.79 1399.57 6278.79 1391.57 6296.79 1337.57 6276.79 1337.57 6204.79 1285.57 6136.79 1349.57 6112.79 1387.57 6112.79 1409.57 6124.79 1421.57 6106.79 1391.57 6082.29 1343.57 6060.79 1285.57 6082.29 1235.57 6028.79 1177.57 6054.79 1113.57 6082.29 1071.57 6108.79 1013.57 6130.79 955.57 6130.79 915.57 6100.79 887.57 6052.79 887.57 6010.79 933.57 6028.79 961.57 6004.79 949.57 5932.79 973.57 5912.79 953.57 5882.79 915.57 5888.79 865.57 5906.79 825.57 5896.79 825.57 5870.79 871.57 5860.79 881.57 5816.79 851.57 5770.79 825.57 5754.79 855.57 5694.79 907.57 5702.79 937.57 5694.79 953.57 5650.79 905.57 5616.79 857.57 5634.79 809.57 5554.79 779.57 5539.79 735.57 5539.79 697.57 5548.79 687.57 5516.79 747.57 5496.79 759.57 5460.79 745.57 5428.79 723.57 5442.79 687.57 5414.79 677.57 5362.79 637.57 5314.79 637.57 5290.79 675.57 5300.79 693.57 5312.79 719.57 5290.79 719.57 5270.79 681.57 5248.79 679.57 5228.79 713.57 5240.79 739.57 5246.79 751.57 5222.79 723.57 5184.79 711.57 5144.79 703.57 5112.79 741.57 5086.79 787.57 5084.79 807.57 5066.79 777.57 5036.79 849.57 5036.79 879.57 5044.79 899.57 5052.79 935.57 5016.79 955.57 5034.79 977.57 5038.79 999.57 5040.79 1017.57 5040.79 1029.57 5010.79 1017.57 4990.79 979.57 4992.79 1047.57 4964.79 1081.57 4964.79 1147.57 4926.79 1197.57 4898.79 1199.57 4858.79 1287.57 4816.79 1429.57 4754.79" />
						</a>
						<a id="hale" class="county {% if post.get_field('counties').hale.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').hale.data == true %}{{post.get_field('counties').hale.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="1703.57 5112.79 2321.57 5112.79 2321.57 5558.79 2201.57 5558.79 2207.57 5758.79 2089.57 5758.79 2085.57 6422.79 1655.57 6422.79 1655.57 6316.79 1477.57 6318.79 1503.57 6272.79 1519.57 6252.79 1509.57 6218.79 1527.57 6210.79 1535.57 6166.79 1559.57 6158.79 1583.57 6160.79 1607.57 6160.79 1629.57 6162.79 1645.57 6140.79 1631.57 6112.79 1609.57 6082.29 1511.57 6106.79 1477.57 6042.79 1541.57 6038.79 1581.57 6036.79 1605.57 6034.79 1631.57 6024.79 1625.57 5980.79 1575.57 5990.79 1521.57 5990.79 1519.57 5944.79 1507.57 5896.79 1507.57 5816.79 1439.57 5846.79 1439.57 5810.79 1485.57 5792.79 1509.57 5767.79 1493.57 5732.79 1463.57 5698.79 1439.57 5694.79 1415.57 5698.79 1453.57 5658.79 1483.57 5632.79 1481.57 5580.79 1475.57 5540.79 1445.57 5516.79 1469.57 5492.79 1471.57 5468.79 1463.57 5436.79 1493.57 5422.79 1519.57 5404.79 1543.57 5390.79 1581.57 5392.79 1599.57 5378.79 1607.57 5330.79 1577.57 5332.79 1593.57 5304.79 1619.57 5296.79 1637.57 5300.79 1663.57 5254.79 1669.57 5236.79 1629.57 5234.79 1631.57 5206.79 1661.57 5208.79 1683.57 5204.79 1655.57 5178.79 1691.57 5166.79 1703.57 5112.79" />
						</a>
						<a id="henry" class="county {% if post.get_field('counties').henry.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').henry.data == true %}{{post.get_field('counties').henry.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="6629.57 8378.79 7065.57 8402.79 7065.57 8362.79 7145.57 8382.79 7145.57 8288.33 7185.57 8266.79 7253.57 8266.79 7253.57 8334.79 7253.57 8426.79 7341.57 8510.79 7341.57 8566.79 7405.57 8616.86 7405.57 8702.79 7433.57 8794.79 7453.57 8886.79 7417.57 8958.79 7405.57 9066.79 7405.57 9122.79 7373.57 9210.79 7361.57 9322.79 7349.57 9414.79 7341.57 9470.79 7301.57 9522.95 7337.57 9578.79 7353.57 9630.79 7353.57 9722.79 7381.57 9798.79 7453.57 9826.79 7481.57 9902.79 7521.57 9994.79 7553.57 10082.79 7581.57 10190.79 6729.57 10190.79 6717.57 9684.97 6645.57 9684.97 6629.57 8378.79" />
						</a>
						<!-- Houston County-->
						<a id="jackson" class="county {% if post.get_field('counties').jackson.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').jackson.data == true %}{{post.get_field('counties').jackson.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="4669.57 58.79 6157.57 58.79 6217.57 362.79 6193.57 442.79 6129.57 502.79 6065.57 610.79 5981.57 758.79 5905.57 862.79 5801.57 1006.79 5681.57 1138.79 5577.57 1250.79 5481.57 1322.79 5401.57 1350.79 5197.57 1398.79 5141.57 1346.79 5133.57 1290.79 5085.57 1254.79 5029.57 1278.79 5025.57 1078.79 4713.47 1078.79 4589.57 962.79 4589.57 728.79 4633.57 694.79 4621.57 370.79 4665.57 370.79 4713.47 370.79 4753.57 370.79 4713.47 274.79 4681.57 214.79 4733.57 198.79 4757.57 162.79 4765.57 122.79 4713.47 122.79 4669.57 58.79" />
						</a>
						<a id="jefferson" class="county {% if post.get_field('counties').jefferson.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').jefferson.data == true %}{{post.get_field('counties').jefferson.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="3209.57 3170.79 3491.57 2986.79 3757.57 2986.79 3999.57 3170.79 4195.57 3170.79 4195.57 3226.79 4223.57 3226.79 4273.57 3338.79 4189.57 3566.79 4157.57 3582.79 4179.57 3614.79 4153.57 3640.79 4283.57 3734.79 4177.57 3790.79 4037.57 3926.79 4015.57 3926.79 3929.57 3832.79 3907.57 3860.79 3877.57 3872.79 3843.57 3896.79 3823.57 3936.79 3853.57 3982.79 3819.57 4010.79 3771.57 4054.79 3695.57 4136.79 3687.57 4166.79 3657.57 4166.79 3591.57 4206.79 3555.57 4266.79 3485.57 4266.79 3417.57 4314.79 3357.57 4390.79 3295.57 4446.79 3209.57 4494.79 3191.57 4510.79 3087.57 4510.79 3013.57 4400.79 3013.57 4372.79 2953.57 4368.79 2923.57 4330.79 2849.57 4318.79 2763.57 4216.79 2721.57 4134.79 2457.57 3982.79 2501.57 3928.79 2517.57 3892.79 2547.57 3930.79 2571.57 3908.79 2595.57 3916.79 2619.57 3926.79 2629.57 3896.79 2613.57 3864.79 2651.57 3882.79 2673.57 3876.79 2655.57 3834.79 2653.57 3798.79 2679.57 3814.79 2695.57 3844.79 2713.57 3852.79 2721.57 3816.79 2719.57 3786.79 2747.57 3792.79 2769.57 3796.79 2803.57 3758.79 2835.57 3736.79 2827.57 3702.79 2797.57 3682.79 2817.57 3648.79 2817.57 3620.79 2771.57 3640.79 2773.57 3614.79 2831.57 3572.79 2875.57 3530.79 2927.57 3526.79 2977.57 3496.79 3023.57 3490.79 3073.57 3460.79 3109.57 3392.79 3125.57 3306.79 3163.57 3244.79 3173.57 3154.79 3209.57 3170.79" />
						</a>
						<a id="lamar" class="county {% if post.get_field('counties').lamar.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').lamar.data == true %}{{post.get_field('counties').lamar.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="657.57 2450.79 1113.57 2470.79 1113.57 2534.79 1225.57 2534.79 1225.57 3790.79 493.57 3770.79 657.57 2450.79" />
						</a>
						<a id="lauderdale" class="county {% if post.get_field('counties').lauderdale.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').lauderdale.data == true %}{{post.get_field('counties').lauderdale.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="681.07 0 711.07 99.01 753.08 156.02 801.08 255.03 834.08 297.03 921.09 318.03 981.1 288.03 1014.1 276.03 1056.11 300.03 1110.11 318.03 1167.12 318.03 1203.12 357.04 1257.13 381.04 1257.13 423.04 1308.13 483.05 1308.13 519.05 1341.13 561.06 1386.14 612.06 1440.14 657.07 1494.15 684.07 1554.15 708.79 1611.16 708.79 1644.16 675.07 1692.17 651.07 1776.18 615.06 1818.18 585.06 1860.19 561.06 1920.19 549.05 1965.2 525.05 2004.2 495.05 2043.2 477.05 2094.21 468.05 2187.22 489.05 2298.23 513.05 2373.24 534.05 2487.25 525.05 2535.25 579.06 2580.26 633.06 2622.26 660.07 2658.27 657.07 2658.27 600.06 2715.27 558.06 2778.28 522.05 2790.28 39 681.07 0" />
						</a>
						<a id="lawrence" class="county {% if post.get_field('counties').lawrence.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').lawrence.data == true %}{{post.get_field('counties').lawrence.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="2317.57 594.06 2346.24 666.07 2331.9 711.07 2317.57 765.08 2317.57 813.08 2286.23 849.09 2286.23 954.1 2217.22 954.1 2217.22 1020.1 2163.22 1080.11 2136.21 1158.12 2121.21 1824.18 2973.3 1839.18 2993.57 1761.18 2993.57 879.09 2796.28 699.07 2739.27 696.07 2691.27 714.07 2655.27 732.07 2610.26 705.07 2557.39 657.07 2508.25 618.06 2439.24 594.06 2382.24 609.06 2317.57 594.06" />
						</a>
						<a id="lee" class="county {% if post.get_field('counties').lee.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').lee.data == true %}{{post.get_field('counties').lee.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="6177.62 5754.79 6177.62 5844.79 6035.57 5844.79 6035.57 5880.79 6001.57 5880.79 6001.57 6172.79 6443.57 6382.79 6555.57 6382.79 6555.57 6444.79 7485.57 6444.79 7523.57 6444.79 7537.57 6410.79 7525.57 6372.79 7507.57 6324.79 7469.57 6280.79 7411.57 6232.79 7357.57 6180.79 7331.57 6132.79 7317.57 6082.29 7297.57 6038.79 7283.57 5990.79 7289.57 5960.79 7263.57 5918.79 7233.57 5884.79 7239.57 5846.79 7233.57 5790.79 7223.57 5754.79 7199.57 5720.79 7169.57 5708.79 6877.57 5708.79 6879.57 5746.79 6177.62 5754.79" />
						</a>
						<a id="limestone" class="county {% if post.get_field('counties').limestone.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').limestone.data == true %}{{post.get_field('counties').limestone.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="2777.57 50.79 2777.57 522.79 2653.57 622.79 2777.57 622.79 2849.57 646.79 2901.57 694.79 3033.57 862.79 3129.57 922.79 3245.57 970.79 3301.57 1006.79 3397.57 1070.79 3545.57 1154.79 3677.57 1154.79 3677.57 50.79 2777.57 50.79" />
						</a>
						<a id="lowndes" class="county {% if post.get_field('counties').lowndes.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').lowndes.data == true %}{{post.get_field('counties').lowndes.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="3630.36 7062.71 3579.36 7041.7 3547.57 7017.7 3513.35 6978.7 3498.35 6927.69 3547.57 6903.69 3564.36 6858.69 3594.36 6828.68 3630.36 6861.69 3663.37 6828.68 3684.37 6780.68 3684.37 6747.68 3684.37 6717.67 3669.37 6660.67 3735.37 6639.66 3762.38 6639.66 3792.38 6609.66 3831.38 6663.67 3831.38 6714.67 3853.57 6741.67 3888.39 6741.67 3906.39 6714.67 3945.39 6678.67 3945.39 6645.66 3945.39 6597.66 4011.4 6597.66 4038.4 6621.66 4038.4 6672.67 4062.41 6705.67 4098.41 6690.67 4137.41 6684.67 4176.42 6705.67 4203.42 6744.67 4221.42 6771.68 4269.43 6759.68 4305.43 6765.68 4317.43 6792.68 4317.43 6852.69 4317.43 6912.69 4338.43 6945.69 4380.44 6936.69 4425.44 6966.7 4491.45 7020.7 4491.45 7722.77 4389.44 7722.77 4272.43 7722.77 3510.35 7740.77 3498.35 7524.75 3396.34 7518.75 3396.34 7074.71 3630.36 7062.71" />
						</a>
						<a id="macon" class="county {% if post.get_field('counties').macon.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').macon.data == true %}{{post.get_field('counties').macon.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="5592.56 6498.65 5484.55 6498.65 5397.54 6478.79 5397.54 6513.65 5355.54 6478.79 5355.54 6540.65 5313.53 6564.66 5337.53 6621.66 5313.53 6663.67 5343.53 6705.67 5376.54 6738.67 5382.54 6783.68 5415.54 6813.68 5453.05 6813.68 5466.55 6864.69 5508.55 6894.69 5532.55 6942.69 5625.56 6942.69 5664.57 7044.7 6558.66 7044.7 6558.66 6387.64 6438.64 6387.64 5994.6 6171.62 5784.58 6171.62 5784.58 6390.64 5781.58 6420.64 5781.58 6447.65 5721.57 6438.64 5667.57 6459.65 5652.56 6498.65 5619.56 6510.65 5592.56 6498.65" />
						</a>
						<a id="madison" class="county {% if post.get_field('counties').madison.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').madison.data == true %}{{post.get_field('counties').madison.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="3683.57 54.79 4667.57 54.79 4667.57 92.79 4691.57 118.79 4749.57 150.79 4773.57 172.79 4759.57 200.79 4675.57 226.79 4711.57 284.79 4725.57 336.79 4701.57 370.79 4627.57 370.79 4617.57 420.79 4621.57 548.79 4619.57 644.79 4619.57 694.79 4591.57 738.79 4593.57 960.79 4689.57 1068.79 4699.57 1096.79 4689.57 1124.79 4649.57 1124.79 4639.57 1144.79 4671.57 1154.79 4703.57 1172.79 4697.57 1204.79 4675.57 1232.79 4663.57 1272.79 4623.57 1282.79 4591.57 1282.79 4537.57 1268.79 4505.57 1272.79 4513.57 1294.79 4545.57 1310.79 4521.57 1332.79 4467.57 1352.79 4427.57 1362.79 4379.57 1352.79 4315.57 1338.79 4261.57 1324.79 4228.57 1296.79 4185.57 1216.62 4169.57 1184.79 4173.57 1134.79 4145.57 1100.79 4079.57 1098.79 4029.57 1114.79 4007.57 1138.79 3989.57 1164.79 3941.57 1158.79 3923.57 1106.79 3871.57 1094.79 3821.57 1102.79 3787.57 1124.79 3757.57 1142.79 3727.57 1156.79 3683.57 1152.79 3683.57 54.79" />
						</a>
						<a id="marengo" class="county {% if post.get_field('counties').marengo.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').marengo.data == true %}{{post.get_field('counties').marengo.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="1422.14 6240.62 1473.15 6267.63 1473.15 6321.63 1650.16 6321.63 1650.16 6426.64 2079.21 6426.64 2079.21 7308.73 1869.19 7308.73 1866.19 7644.76 1449.14 7683.77 909.09 7683.77 858.09 7620.76 840.08 7668.77 795.08 7626.76 795.08 7560.76 831.08 7482.75 876.09 7476.75 909.09 7491.75 945.1 7488.75 954.1 7437.74 942.09 7377.74 966.1 7302.73 996.1 7293.73 1026.1 7269.73 1029.1 7161.72 1023.1 7113.71 1026.1 7047.7 1038.1 6996.7 1002.1 6915.69 1089.11 6903.69 1122.11 6879.69 1158.12 6879.69 1197.12 6882.69 1224.12 6876.69 1254.13 6876.69 1218.12 6843.68 1161.12 6807.68 1089.11 6768.68 1053.11 6759.68 987.1 6693.67 951.1 6675.67 969.1 6552.65 1104.11 6478.79 1170.12 6441.64 1215.12 6390.64 1272.13 6333.63 1332.13 6324.63 1362.14 6318.63 1395.14 6315.63 1422.14 6240.62" />
						</a>
						<a id="marion" class="county {% if post.get_field('counties').marion.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').marion.data == true %}{{post.get_field('counties').marion.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="741.57 1786.79 665.57 2446.79 1113.57 2466.79 1113.57 2534.79 1225.57 2534.79 1225.57 2802.79 1861.57 2802.79 1893.57 1822.79 741.57 1786.79" />
						</a>
						<a id="marshall" class="county {% if post.get_field('counties').marshall.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').marshall.data == true %}{{post.get_field('counties').marshall.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="4185.42 1200.12 4161.42 1260.13 4185.42 1335.13 4185.42 1449.14 4185.42 1524.15 4299.43 1803.18 4341.43 1803.18 4341.43 1842.18 4407.44 1842.18 4392.44 1902.19 4647.47 2271.23 4686.47 2271.23 4713.47 2325.23 4899.49 2154.22 4935.49 2154.22 4998.5 2145.22 5040.5 2136.21 5067.51 2133.21 5067.51 2097.21 5049.51 2040.2 5109.51 1998.2 5169.52 1788.18 5124.51 1671.17 5127.51 1515.15 5214.52 1407.14 5169.52 1377.14 5142.51 1344.13 5124.51 1314.13 5124.51 1281.13 5085.51 1293.13 5088.51 1263.13 5040.5 1293.13 5022.5 1236.12 5019.5 1080.11 4701.47 1080.11 4687.97 1125.11 4687.97 1155.12 4687.97 1188.12 4687.97 1230.12 4687.97 1272.13 4687.97 1305.13 4647.47 1290.13 4572.46 1290.13 4524.45 1284.13 4500.45 1314.13 4482.45 1356.14 4482.45 1410.14 4425.44 1350.13 4308.43 1344.13 4266.43 1368.14 4251.43 1317.13 4185.42 1200.12" />
						</a>
						<a id="mobile" class="county {% if post.get_field('counties').mobile.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').mobile.data == true %}{{post.get_field('counties').mobile.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="65.57 9902.79 249.57 9902.79 329.57 9869.49 385.57 9834.79 469.57 9810.79 565.57 9810.79 665.57 9810.79 721.57 9856.79 797.57 9902.79 841.57 9869.49 917.57 9856.79 993.57 9810.79 1109.57 9730.79 1165.57 9730.79 1165.57 9782.79 1073.57 9816.79 1137.57 9838.79 1125.57 9902.79 1085.57 9986.79 1137.57 10050.79 1129.57 10122.79 1105.57 10214.79 1117.57 10310.79 1165.57 10334.79 1221.12 10402.79 1253.57 10462.79 1125.57 10558.79 1153.57 10654.79 1057.57 10694.79 973.57 10738.79 957.57 10866.79 969.57 10990.79 965.57 11074.79 901.57 11130.79 893.57 11246.79 857.57 11330.79 841.57 11398.79 813.57 11502.79 825.57 11582.79 805.57 11654.79 797.57 11786.79 753.57 11962.79 505.57 11962.79 425.57 11882.79 341.57 11818.79 241.57 11834.79 161.57 11894.79 133.57 11822.79 101.57 11750.79 129.57 11694.79 65.57 9902.79" />
						</a>
						<a id="monroe" class="county {% if post.get_field('counties').monroe.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').monroe.data == true %}{{post.get_field('counties').monroe.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="1992.2 8994.9 1908.19 8931.89 1863.19 8886.89 1899.19 8850.89 1992.2 8811.88 1974.2 8091.81 3396.34 8091.81 3396.34 8340.83 3264.33 8349.83 3249.32 8394.84 3078.31 8394.84 3042.3 8490.85 2991.3 8543.35 2919.29 8613.86 2883.29 8724.87 2850.28 8829.88 2796.28 8961.9 2748.28 9009.9 2700.27 9093.91 2616.26 9162.92 2538.25 9210.92 2481.25 9267.93 2418.24 9429.94 2475.25 9528.95 2151.22 9528.95 2121.21 9555.96 2073.21 9579.96 2019.2 9579.96 1989.2 9579.96 1953.19 9579.96 1911.19 9579.96 1875.19 9579.96 1809.18 9558.96 1761.18 9531.95 1731.17 9510.95 1701.17 9510.95 1671.17 9471.95 1620.16 9459.95 1578.16 9459.95 1545.15 9441.94 1515.15 9411.94 1515.15 9381.94 1548.15 9339.93 1608.16 9366.94 1638.16 9339.93 1644.16 9291.93 1644.16 9240.92 1674.17 9198.92 1716.17 9168.92 1761.18 9144.91 1800.18 9132.91 1845.18 9159.92 1899.19 9171.92 1944.19 9123.91 1974.2 9078.91 1992.2 8994.9" />
						</a>
						<a id="montgomery" class="county {% if post.get_field('counties').montgomery.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').montgomery.data == true %}{{post.get_field('counties').montgomery.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="4674.47 6648.66 4599.46 6615.66 4572.46 6579.66 4557.46 6540.65 4506.45 6540.65 4506.45 6576.66 4470.45 6594.66 4407.44 6621.66 4365.44 6582.66 4347.44 6612.66 4347.44 6678.67 4323.43 6717.67 4287.43 6717.67 4287.43 6756.68 4323.43 6771.68 4323.43 6837.68 4320.43 6903.69 4326.43 6936.69 4371.44 6936.69 4431.44 6972.7 4480.95 7014.7 4497.45 7044.7 4494.45 7500.75 4710.47 7500.75 4710.47 7707.77 5361.54 7707.77 5340.53 6933.69 5529.55 6939.69 5529.55 6912.69 5481.55 6885.69 5463.55 6834.68 5400.54 6804.68 5376.54 6762.68 5358.54 6708.67 5328.53 6672.67 5331.53 6615.66 5307.53 6561.66 5277.53 6561.66 5259.53 6600.66 5229.52 6579.66 5172.52 6576.66 5136.51 6573.66 5109.51 6540.65 5070.51 6540.65 5040.5 6540.65 5013.5 6513.65 4965.5 6513.65 4986.5 6478.79 4944.49 6478.79 4908.49 6441.64 4878.49 6441.64 4872.49 6399.64 4836.48 6399.64 4836.48 6354.64 4797.48 6354.64 4779.48 6393.64 4749.48 6423.64 4683.47 6384.64 4695.47 6453.65 4659.47 6478.79 4674.47 6531.65 4689.47 6561.66 4608.46 6522.65 4635.46 6582.66 4674.47 6648.66" />
						</a>
						<a id="morgan" class="county {% if post.get_field('counties').morgan.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').morgan.data == true %}{{post.get_field('counties').morgan.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="2989.57 874.79 3509.57 1166.79 3633.57 1186.79 3721.57 1186.79 3781.57 1186.79 3813.57 1138.79 3853.57 1126.79 3897.57 1126.79 3917.57 1162.79 3993.57 1186.79 4033.57 1158.79 4085.57 1126.79 4145.57 1134.79 4165.57 1186.79 4165.57 1242.79 4165.57 1326.79 4193.57 1386.79 4193.57 1506.79 4301.57 1810.79 2989.57 1810.79 2989.57 874.79" />
						</a>
						<a id="perry" class="county {% if post.get_field('counties').perry.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').perry.data == true %}{{post.get_field('counties').perry.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="2321.57 5454.79 2533.57 5454.79 2533.57 5560.79 3177.57 5534.79 3177.57 5964.79 3127.57 6046.79 3129.57 6144.79 3071.57 6198.79 3047.57 6284.79 3013.57 6316.79 3003.57 6398.79 2961.57 6434.79 2311.57 6424.79 2311.57 6861.69 2087.57 6861.69 2087.57 5770.79 2195.57 5770.79 2215.57 5768.79 2205.57 5558.79 2317.57 5560.79 2321.57 5454.79" />
						</a>
						<a id="pickens" class="county {% if post.get_field('counties').pickens.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').pickens.data == true %}{{post.get_field('counties').pickens.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="501.57 3778.79 1425.57 3810.79 1425.57 4742.79 1401.57 4782.79 1353.57 4782.79 1201.57 4854.79 1185.57 4894.79 989.57 4982.79 1009.57 5042.79 941.57 5010.79 889.57 5042.79 769.57 5022.79 785.57 5066.79 705.57 5110.79 717.57 5146.79 333.57 5122.79 501.57 3778.79" />
						</a>
						<a id="pike" class="county {% if post.get_field('counties').pike.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').pike.data == true %}{{post.get_field('counties').pike.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="5358.54 7494.75 5574.56 7494.75 5586.56 7716.77 5799.58 7716.77 5799.58 7932.79 6024.6 7932.79 6024.6 7716.77 6177.62 7713.77 6177.62 7761.78 6153.61 7797.78 6135.61 7845.78 6114.61 7899.79 6096.61 7932.79 6081.61 7986.8 6066.61 8022.8 6075.61 8094.81 6084.61 8163.82 6069.61 8241.82 6039.6 8307.83 5991.6 8388.84 5982.6 8442.84 5979.6 8505.85 5970.6 8574.86 5928.59 8604.86 4995.5 8604.86 5034.5 8553.85 5064.51 8511.85 5046.51 8187.82 4932.49 8178.82 4932.49 7716.77 5271.53 7716.77 5325.53 7716.77 5358.54 7716.77 5358.54 7494.75" />
						</a>
						<a id="randolph" class="county {% if post.get_field('counties').randolph.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').randolph.data == true %}{{post.get_field('counties').randolph.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="6096.61 3867.39 6816.68 3867.39 6999.7 4830.48 6096.61 4851.48 6096.61 3867.39" />
						</a>
						<a id="russell" class="county {% if post.get_field('counties').russell.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').russell.data == true %}{{post.get_field('counties').russell.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="7485.57 6798.79 7525.57 6734.79 7525.57 6674.79 7525.57 6630.79 7557.57 6562.79 7557.57 6518.79 7485.57 6438.79 6553.57 6458.79 6573.57 7266.79 6929.57 7246.79 6973.57 7306.79 7001.57 7370.79 7055.57 7394.79 7073.57 7454.79 7149.57 7454.79 7389.57 7454.79 7405.57 7402.79 7357.57 7366.79 7357.57 7314.79 7365.57 7254.79 7413.57 7226.79 7445.57 7170.79 7497.57 7158.79 7557.57 7134.79 7529.57 7090.79 7557.57 7046.79 7593.57 7054.79 7637.57 7058.79 7665.57 7014.79 7701.57 6982.79 7737.57 6978.79 7661.57 6898.79 7617.57 6878.79 7549.57 6861.69 7485.57 6798.79" />
						</a>
						<a id="saintclair" class="county {% if post.get_field('counties').saintclair.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').saintclair.data == true %}{{post.get_field('counties').saintclair.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="4929.57 3368.79 4965.57 3368.79 4979.57 3400.79 4993.57 3428.79 5029.57 3440.79 5047.57 3426.79 5047.57 3392.79 5059.57 3344.79 5071.57 3318.79 5087.57 3346.79 5107.57 3306.79 5159.57 3278.79 5197.57 3254.79 5219.57 3222.79 5261.57 3212.79 5247.57 3168.79 5223.57 3128.79 5211.57 3090.79 5239.57 3064.79 5243.57 3038.79 5221.57 3016.79 5193.57 3004.79 5225.57 2978.79 5223.57 2950.79 5173.57 2936.79 5115.57 2950.79 5107.57 2852.79 5077.57 2864.79 5055.57 2822.79 5023.57 2786.79 5003.57 2738.79 5007.57 2708.79 4983.57 2666.79 4949.57 2624.79 4911.57 2608.79 4877.57 2626.79 4841.57 2652.79 4817.57 2654.79 4787.57 2634.79 4661.57 2634.79 4679.57 2686.79 4693.57 2724.79 4637.57 2834.79 4619.57 2888.79 4583.57 2926.79 4535.57 2964.79 4485.57 3004.79 4417.57 3042.79 4351.57 3062.79 4273.57 3078.79 4223.57 3094.79 4161.57 3088.79 4117.57 3086.79 4097.57 3100.79 4097.57 3146.79 4107.57 3166.79 4157.57 3166.79 4199.57 3166.79 4221.57 3168.79 4205.57 3216.79 4225.57 3230.79 4267.57 3320.79 4283.57 3340.79 4183.57 3546.79 4193.57 3576.79 4161.57 3586.79 4181.57 3608.79 4151.57 3638.79 4481.57 3872.79 4517.57 3872.79 4503.57 3898.79 4499.57 3934.79 4519.57 3958.79 4555.57 3974.79 4581.57 3974.79 4589.57 4004.79 4589.57 4040.79 4603.57 4064.79 4635.57 4040.79 4651.57 4000.79 4637.57 3980.79 4659.57 3980.79 4679.57 3960.79 4707.57 3938.79 4715.57 3900.79 4743.57 3882.79 4753.57 3818.79 4773.57 3802.79 4795.57 3810.79 4789.57 3842.79 4787.57 3868.79 4817.57 3874.79 4845.57 3856.79 4865.57 3816.79 4877.57 3786.79 4941.57 3762.79 4917.57 3720.79 4893.57 3696.79 4873.57 3664.79 4895.57 3662.79 4891.57 3622.79 4913.57 3616.79 4941.57 3634.79 4965.57 3624.79 4953.57 3598.79 4927.57 3588.79 4927.57 3568.79 4947.57 3574.79 4977.57 3570.79 4999.57 3554.79 5015.57 3532.79 5015.57 3506.79 4987.57 3474.79 4963.57 3440.79 4935.57 3422.79 4919.57 3386.79 4929.57 3368.79" />
						</a>
						<a id="shelby" class="county {% if post.get_field('counties').shelby.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').shelby.data == true %}{{post.get_field('counties').shelby.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="3229.57 4514.79 3247.57 4576.79 3217.57 4642.79 3187.57 4642.79 3177.57 4686.79 3177.57 4728.79 3487.57 5066.79 3487.57 4936.79 4273.57 4918.79 4301.57 4870.79 4323.57 4818.79 4359.57 4790.79 4327.57 4740.79 4327.57 4688.79 4287.57 4636.79 4315.57 4568.79 4359.57 4568.79 4359.57 4494.79 4415.57 4466.79 4425.57 4394.79 4465.57 4420.79 4537.57 4394.79 4601.57 4366.79 4571.57 4228.79 4627.57 4228.79 4627.57 4190.79 4553.57 4112.79 4601.57 4068.79 4581.57 3964.79 4505.57 3938.79 4521.57 3880.79 4289.57 3734.79 4211.57 3778.79 4075.57 3880.79 4043.57 3930.79 3929.57 3844.79 3883.57 3884.79 3853.57 3888.79 3841.57 3942.79 3865.57 3996.79 3787.57 4056.79 3717.57 4122.79 3651.57 4186.79 3567.57 4258.79 3475.57 4292.79 3399.57 4352.79 3317.57 4430.79 3229.57 4514.79" />
						</a>
						<a id="sumter" class="county {% if post.get_field('counties').sumter.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').sumter.data == true %}{{post.get_field('counties').sumter.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="336.03 5136.51 135.01 6846.69 1218.12 6861.69 1116.11 6774.68 1053.11 6747.68 1005.1 6732.67 963.1 6666.67 963.1 6552.65 1137.11 6456.65 1188.12 6387.64 1218.12 6375.64 1275.13 6339.63 1398.14 6339.63 1398.14 6294.63 1356.14 6294.63 1335.13 6258.63 1341.13 6195.62 1281.13 6138.61 1344.13 6105.61 1374.14 6144.61 1413.14 6117.61 1365.14 6069.61 1305.13 6069.61 1266.13 6082.29 1233.12 6045.6 1167.12 6048.6 1116.11 6082.29 1068.11 6082.79 1023.1 6096.61 987.1 6120.61 954.1 6144.61 894.09 6082.29 891.09 5999.1 927.09 6018.6 942.09 5925.59 972.1 5907.59 942.09 5880.59 885.09 5904.59 843.08 5913.59 813.08 5919.59 822.08 5862.59 861.09 5850.59 879.09 5805.58 831.08 5760.58 846.09 5686.79 903.09 5700.57 936.09 5673.57 933.09 5631.56 852.09 5634.56 792.08 5547.56 741.07 5560.79 714.07 5502.55 747.08 5481.55 750.08 5439.54 714.07 5445.55 627.06 5313.53 651.07 5286.53 693.07 5313.53 714.07 5271.53 672.07 5247.52 732.07 5244.52 702.07 5136.51 336.03 5136.51" />
						</a>
						<a id="talladega" class="county {% if post.get_field('counties').talladega.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').talladega.data == true %}{{post.get_field('counties').talladega.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="4943.57 3754.79 4921.57 3718.79 4901.57 3694.79 4901.57 3666.79 4889.57 3634.79 4899.57 3612.79 4929.57 3632.79 4959.57 3640.79 4959.57 3612.79 4924.57 3578.79 4959.57 3578.79 4989.57 3562.79 5011.57 3538.79 5011.57 3494.79 4991.57 3452.79 4967.57 3422.79 4931.57 3396.79 4939.57 3368.79 4967.57 3368.79 4991.57 3422.79 5011.57 3442.79 5039.57 3428.79 5057.57 3416.79 5219.57 3420.79 5295.57 3498.79 5295.57 3590.79 5327.57 3592.79 5327.57 3638.79 5771.57 3646.79 5771.57 3860.79 5829.57 3860.79 5829.57 3904.79 5773.57 3904.79 5773.57 3930.79 5647.57 3930.79 5643.57 3870.79 5549.57 3866.79 5549.57 3960.79 5497.57 3960.79 5499.57 4104.79 5461.57 4104.79 5461.57 4140.79 5395.57 4140.79 5395.57 4374.79 5099.57 4374.79 5099.57 4622.79 4995.57 4622.79 4991.57 4838.79 4323.57 4850.79 4313.57 4826.79 4341.57 4810.79 4365.57 4794.79 4369.57 4770.79 4353.57 4746.79 4325.57 4734.79 4325.57 4702.79 4327.57 4676.79 4299.57 4652.79 4299.57 4620.79 4299.57 4582.79 4325.57 4576.79 4345.57 4582.79 4367.57 4564.79 4373.57 4540.79 4359.57 4496.79 4387.57 4494.79 4413.57 4476.79 4431.57 4444.79 4419.57 4402.79 4443.57 4412.79 4463.57 4430.79 4483.57 4442.79 4509.57 4424.79 4541.57 4406.79 4567.57 4392.79 4589.57 4384.79 4607.57 4358.79 4591.57 4324.79 4581.57 4292.79 4577.57 4230.79 4601.57 4232.79 4625.57 4236.79 4643.57 4216.79 4635.57 4178.79 4613.57 4150.79 4587.57 4136.79 4559.57 4109.79 4599.57 4088.79 4619.57 4074.79 4641.57 4032.79 4657.57 3994.79 4685.57 3974.79 4713.57 3948.79 4715.57 3912.79 4739.57 3886.79 4757.57 3844.79 4761.57 3814.79 4785.57 3814.79 4795.57 3848.79 4793.57 3868.79 4807.57 3888.79 4829.57 3896.79 4861.57 3864.79 4881.57 3830.79 4881.57 3802.79 4891.57 3780.79 4943.57 3754.79" />
						</a>
						<a id="tallapoosa" class="county {% if post.get_field('counties').tallapoosa.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').tallapoosa.data == true %}{{post.get_field('counties').tallapoosa.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="5610.56 5733.57 5589.56 5847.59 5556.56 5880.59 5556.56 5934.59 5610.56 5994.6 5610.56 6099.61 5610.56 6225.62 5583.56 6384.64 5652.56 6414.64 5697.57 6414.64 5727.57 6414.64 5754.57 6399.64 5793.58 6399.64 5793.58 6168.62 5991.6 6168.62 5991.6 5877.59 6030.6 5880.59 6030.6 5844.58 6168.62 5841.58 6168.62 5757.58 6213.62 5760.58 6213.62 4854.48 5340.53 4854.48 5340.53 5721.57 5610.56 5733.57" />
						</a>
						<a id="tuscaloosa" class="county {% if post.get_field('counties').tuscaloosa.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').tuscaloosa.data == true %}{{post.get_field('counties').tuscaloosa.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="1429.57 3814.79 1797.57 3814.79 1797.57 3666.79 1869.57 3666.79 1869.57 3590.79 2537.57 3614.79 2537.57 3838.79 2605.57 3838.79 2665.57 3838.79 2665.57 3878.79 2617.57 3878.79 2625.57 3918.79 2565.57 3918.79 2517.57 3894.79 2457.57 3970.79 2709.57 4130.79 2837.57 4306.79 2913.57 4326.79 2949.57 4362.79 3009.57 4362.79 3009.57 4406.79 3061.57 4482.79 3005.57 4566.79 2933.57 4534.79 2801.57 4646.79 2797.57 4802.79 2625.57 4802.79 2545.57 4902.79 2541.57 5114.79 1897.57 5114.79 1681.57 5094.79 1453.57 5094.79 1429.57 3814.79" />
						</a>
						<a id="walker" class="county {% if post.get_field('counties').walker.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').walker.data == true %}{{post.get_field('counties').walker.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="1881.57 2602.79 1881.57 2934.79 2129.57 2934.79 2129.57 3374.79 2325.57 3394.79 2325.57 3606.79 2545.57 3606.79 2545.57 3834.79 2657.57 3786.79 2705.57 3834.79 2705.57 3782.79 2757.57 3782.79 2797.57 3746.79 2797.57 3670.79 2797.57 3622.79 2841.57 3554.79 2901.57 3506.79 2973.57 3494.79 3045.57 3462.79 3093.57 3414.79 3121.57 3346.79 3121.57 3278.79 3165.57 3218.79 3165.57 3154.79 3217.57 3162.79 3217.57 2602.79 1881.57 2602.79" />
						</a>
						<a id="washington" class="county {% if post.get_field('counties').washington.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').washington.data == true %}{{post.get_field('counties').washington.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="13.57 8418.79 73.57 9910.79 257.57 9910.79 293.57 9874.79 349.57 9846.79 409.57 9822.79 473.57 9810.79 541.57 9802.79 601.57 9802.79 649.57 9810.79 709.57 9822.79 745.57 9846.79 789.57 9882.79 829.57 9910.79 853.57 9866.79 905.57 9854.79 957.57 9822.79 1001.57 9786.79 1081.57 9746.79 1149.57 9706.79 1149.57 9622.79 1073.57 9562.79 1061.57 9498.79 1125.57 9532.79 1149.57 9466.79 1105.57 9422.79 1149.57 9390.79 1193.57 9390.79 1193.57 9342.79 1233.57 9322.79 1273.57 9326.79 1273.57 9282.79 1273.57 9234.79 1185.57 9278.79 1137.57 9226.79 1217.57 9198.79 1181.57 9164.79 1221.57 9143.41 1189.57 9082.79 1225.57 9042.79 1221.57 8986.79 1221.57 8950.79 1173.57 8878.79 1097.57 8859.89 1061.57 8859.89 973.57 8802.79 933.57 8750.79 921.57 8714.79 857.57 8682.79 845.57 8604.86 841.57 8538.79 881.57 8522.79 849.57 8418.79 13.57 8418.79" />
						</a>
						<a id="wilcox" class="county {% if post.get_field('counties').wilcox.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').wilcox.data == true %}{{post.get_field('counties').wilcox.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="2081.57 7302.79 2081.57 6878.79 2201.57 6878.79 2245.57 6978.79 2293.57 7026.79 2353.57 7066.79 2397.57 7090.79 2397.57 7126.79 2477.57 7138.79 2521.57 7194.79 2577.57 7262.79 2601.57 7302.79 2649.57 7302.79 2669.57 7346.79 2705.57 7402.79 2765.57 7433.24 2797.57 7494.75 2821.57 7530.79 3505.57 7530.79 3505.57 7734.79 3393.57 7754.79 3397.57 8082.79 1868.57 8082.79 1817.57 8049.81 1773.57 7994.79 1773.57 7662.79 1868.57 7662.79 1868.57 7310.79 2081.57 7302.79" />
						</a>
						<a id="winston" class="county {% if post.get_field('counties').winston.data == false %}no-data{% endif %}" xlink:href="{% if post.get_field('counties').winston.data == true %}{{post.get_field('counties').winston.page|e('esc_url')}}{% else %}#no-data{% endif %}">
							<polygon class="cls-1" points="1893.57 1818.79 1893.57 2602.79 2989.57 2622.79 2989.57 1842.79 1893.57 1818.79" />
						</a>
	  				</svg>
	</div>

	<div class="section fp-auto-height" id="section3">
		{% include 'footer.twig' %}
	</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.1/vendors/easings.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.1/vendors/scrolloverflow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.1/fullpage.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

<script>
new fullpage('#fullpage', {
	licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
	autoScrolling: true,
	verticalCentered: true,
    anchors: ['anchor1', 'anchor2', 'anchor3'],
    menu: '#menu',
    sectionsColor: ['black', 'black', 'black', 'rgba(95, 95, 95, 0.35)'] // old footer color #b9bcbf33
    // sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE']
});

//

</script>

{{ function('wp_footer') }}
</body>
</html>
